#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Default layout for larger screens */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide the screen into two columns with equal width */
  height: 100vh; /* Set the height of the container to the full viewport height */
}
.container-mobile{
  display: none;
}
/* Media query for mobile devices (max-width 767px) */
@media (max-width: 850px) {
  .home{
    display: none;
  }
  .container-mobile {
    display: flex;
    flex-direction: column;
  }

}



/*.home {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr; !* Divide the screen into two columns with equal width *!*/
/*  height: 100vh; !* Set the height of the container to the full viewport height *!*/
/*}*/



